//header-customize
.header .header-customize {
	@include d-flex();
	@include align-items-center();
	// margin-left: 50px;

	.header-customize-item + .header-customize-item {
		margin-left: 25px;
	}
}

.header-custom-html .demo-language {
	@include d-flex();

	.btn, .label {
		color: var(--theme-color-main-navigation);
		font-size: 14px;
		line-height: 22px;
		text-transform: uppercase;
		font-weight: 500;
	}

	.label {
		padding-right: 10px;
	}

	.btn {
		padding: 0;
		background: transparent;
		border: none;

		&:hover {
			color: var(--theme-primary-color);
		}

		&:after,
		&:before {
			display: none;

		}
	}
}

.header-wrap {
	.phone-info,
	.email-info {
		@include d-flex();
		@include align-items-center();
		@include flex-row();

		.icon {
			width: 40px;
			height: 40px;
			font-size: 18px;
			border-radius: 50%;
			background-color: #FDF0F0;
			color: var(--theme-primary-color);
			@include d-flex();
			@include align-items-center();
			@include justify-content-center();
		}

		.info-content {
			padding-left: 10px;
			font-weight: 500;
			font-size: 16px;
			color: var(--theme-color-main-navigation);
		}
	}

	.themesflat-socials {
		margin-left: 48px;
		list-style: none;
		@include d-flex();
		@include align-items-center();
		margin-bottom: 0;

		> li {
			+ li {
				margin-left: 10px;
			}

			a {
				font-weight: 400;
				font-size: 18px;
				@include d-flex();
				@include align-items-center();
				@include justify-content-center();
				background: transparent;
				color: var(--theme-color-main-navigation);
				&:hover {
					color: var(--theme-color-hover-main-navigation);

				}
			}
		}
	}

	.header-btn .btn {
		margin-left: 48px;
		border-radius: 5px;
		min-width: 170px;
		padding: 0 15px;
		line-height: 49px;
		font-size: 16px;
		font-weight: 700;
		@include d-inline-flex();
		@include align-items-center();
		@include justify-content-center();
		border: none;
		i {
			margin-left: 5px;
		}
		&:hover {
			background-color: #F23402;
		}
	}
}

.header-customize-item {
	.icon-show-search {
		font-size: 18px;
		width: 30px;
		display: block;
		text-align: center;
		color: var(--theme-color-main-navigation);
	}

	&.active .icon-show-search > i:before {
		content: "\f00d";
		font-family: var(--theme-icon-font-primary);
	}
}

.top-search.widget_search {
	&.show {
		visibility: visible;
		opacity: 1;
		z-index: 1;
		top: 100%;
	}

	background: var(--theme-accent-color);
	padding: 30px 15px;
	line-height: normal;
	position: absolute;
	right: 0;
	top: 120%;
	width: 300px;
	opacity: 0;
	visibility: hidden;
	@include transition(all 0.3s ease-in-out);
	box-shadow: 6px 6px 6px rgb(0 0 0 / 6%);


	.input-group {
		border-bottom: 1px solid var(--theme-accent-color);
		color: var(--theme-accent-foreground-color);
		overflow: hidden;
	}

	input[type="search"] {
		color: inherit !important;
		padding-right: 60px;
		padding-left: 0;
		@include input-placeholder() {
			color: var(--theme-accent-foreground-color);
		}
	}

	.search-submit {
		width: auto;
		padding-right: 10px;

		color: inherit !important;
	}
}

.sticky-area-wrap.sticky {
	.header-wrap {
		.phone-info,
		.email-info {
			.info-content {
				color: var(--theme-header-sticky-color-main-navigation);
			}
		}
	}

	.header-custom-html .demo-language {
		.btn, .label {
			color: var(--theme-header-sticky-color-main-navigation);
		}
	}

	.header-customize-item {
		.icon-show-search {
			color: var(--theme-header-sticky-color-main-navigation);
		}
	}
}

@media only screen and (max-width: 1200px) {
	.header .header-customize .header-customize-item + .header-customize-item {
		margin-left: 20px;
	}
}