.sticky-area-wrap.sticky .inner-header {
    // height: var(--theme-height-header-sticky);
    background-color: #222;
    z-index: 10000;
    width: 100%;
    top: 0;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4);
}


#logo.has-logo-sticky {
    .logo-sticky {
        display: none;
    }
}


.sticky-area-wrap.sticky #logo.has-logo-sticky {
    .logo-sticky {
        display: block;
    }

    .site-logo:not(.logo-sticky) {
        display: none;
    }
}


.sticky-area-wrap {
    position: relative;
    transition: all 0.5s;
    z-index: 1000;

    .inner-header {
        transition: all 0.5s;
        height: auto;
        left: 0;

        #mainnav > ul > li > a {
            line-height: var(--theme-height-header);
        }

        #mainnav > ul > li.current-menu-item > a {
            color: var(--theme-header-sticky-color-hover-main-navigation);
        }
    }
    &.sticky {
        #mainnav > ul > li > a {
            line-height: var(--theme-height-header-sticky);
        }
    }
}


.header-hidden {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    box-shadow: none !important;
}