header.header-style-04 {
    
    .header-wrap {
       justify-content: space-between;
       .themesflat-socials {
            margin-left: 30px;
            padding-left: 29px;
            border-left: 1px solid #fff;
            a {
                margin-right: 18px;
            }
            li:last-child {
                a {
                    margin-right: 0;
                }
            }
       }
    }
    
    
    .header-customize-item + .header-btn {
        margin-left: 29px;
    }
    
    .header-customize-item + .header-custom-html {
        margin-left: 22px;
    }
    
    .header-customize-item + .show-search {
        margin-left: 24px;
    }
}