/* header-default */
header.header-default {
    background-color: transparent;
    
    .inner-header {
        @include d-flex();
        @include align-items-center();
    }
    
    .header-wrap {
        @include justify-content-between();
    }
    
    .header-ct-left > .logo {
        min-width: 200px;
    }
}

@media only screen and (min-width: 1024px) {
    header.header-default {
        .container {
            max-width: 95%;
        }
    }
}

@media only screen and (min-width: 1340px) {
    header.header-default {
        .container {
            max-width: 1340px;
        }
        
        .header-ct-left > .logo {
            min-width: 276px;
        }
        
        .header-customize .phone-info + .header-customize-item {
            margin-left: 115px;
        }
    }
}


.page-sidebar {  

    .page-sidebar-content{
        width: calc(100% - 239px);
        margin-left: 239px;
    }

    .page-sidebar-nav {  
        display: flex;
        width: 239px;
        padding: 24px 8px;
        height: 100vh;
        align-items: flex-start;
        background: #000;
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;

        .header-wrap .header-ct-left, .header-wrap .header-ct-center, .header-wrap .header-ct-right,
        .sticky-area-wrap,.inner-header {
           height: auto !important;
           position: relative !important;
        }

        .sticky-area-wrap.sticky .inner-header {
            box-shadow: none;
        }
        
        header {
            position: relative !important;
        }
        .inner-header {
            background: transparent;
            .header-wrap {
                display: block;
                .header-ct-left,
                .header-ct-right {
                    display: block;
                    width: 100%;
                }
            }
        }
        .logo {
            margin-bottom: 35px;
        }
        .image-nav-header {
            margin-bottom: 30px;
            margin-right: 8px;
            border-radius: 10px;
            overflow: hidden;
            border: 3px solid var(--theme-primary-color);
        }
        
        #mainnav > ul {
          display: block;
          width: 100%;
          li {
                margin: 0 !important;
                line-height: 1.4;
                padding-left: 0;
                padding-right: 0;
                padding-top: 19px;
                padding-bottom: 19px;
                border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
                &:first-child {
                    border-top: 1px dotted rgba(255, 255, 255, 0.2);
                }
                a {
                    line-height: 1;
                    padding: 0;
                }
          }
        }

        
    }

}

@media only screen and (max-width: 1200px) {
    .page-sidebar {  

        .page-sidebar-content{
            width: calc(100%);
            margin-left: 0px;
        }
    
        .page-sidebar-nav {  
            display: block;
            width: 100%;
            padding: 0;
            height: unset;
            background: #fff;
            position: relative;
            .logo {
                margin-bottom: 0px;
            }
            .inner-header .header-wrap {
                display: flex;
                align-items: center;
            }

            #header {
                display: none;
            }
            #header-mobile,.btn-menu {
                display: block;
            }
        }
        

    }
}