header.header-style-01 {
    .header-above {
        padding-bottom: 13px;
        padding-top: 18px;
        background-color: var(--theme-accent-color);
        color: var(--theme-accent-foreground-color);
        
        .header-customize-item + .email-info {
            margin-left: 28px;
        }
        
        .header-customize-item + .header-custom-html {
            margin-left: 35px;
        }
        
        .header-customize-item + .header-social {
            margin-left: 28px;
        }
    }
    
    .header-wrap {
        @include justify-content-between();
    }
    .sticky-area-wrap
        .inner-header {
            background-color: #fff;
            #mainnav > ul > li > a {
               color: #222;
            }
            #mainnav > ul > li.active > a {
                color: var(--theme-color-hover-main-navigation);
            }
        }
        &.sticky {
            .inner-header {
                background-color: #fff;
            }
            #mainnav > ul > li.active > a {
                color: var(--theme-header-sticky-color-hover-main-navigation);
            }
        }
    
    
    .phone-info,
    .email-info {
        
        .icon {
            width: auto;
            height: auto;
            background-color: transparent;
        }
        
        .info-content {
            color: inherit;
        }
    }
    
    .header-custom-html .demo-language {
        .btn, .label {
            color: inherit;
        }
        
        .btn {
            &:hover {
                color: var(--theme-primary-color);
            }
        }
    }
    .header-main {
        .header-customize-item + .header-customize-item {
            margin-left: 25px;
        }
    }
}