.sidebar-left {
	@media only screen and (min-width: 992px)  {
		.tf-sidebar {
			order: -1;
		}
	}
}

body[data-elementor-device-mode=desktop] {
	.themesflat-col-lg-custom-5 {
		@include flex(0 0 20%);
		max-width: 20%;

	}
}

body[data-elementor-device-mode=tablet] {
	.themesflat-col-md-custom-5 {
		@include flex(0 0 20%);
		max-width: 20%;

	}
}

body[data-elementor-device-mode=mobile] {
	.themesflat-col-custom-5 {
		@include flex(0 0 20%);
		max-width: 20%;

	}
}

