/* GoTop Button
-------------------------------------------------------------- */
.go-top {
	position: fixed !important;
	right: -100px;
	bottom: 82px;
	width: 60px;
	height: 60px;
	background-color: var(--theme-primary-color);
	cursor: pointer;
	line-height: 50px;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	overflow: hidden;
	border-radius: 50%;
	font-size: 24px;
	@include d-flex();
	@include align-items-center();
	@include justify-content-center();
}

.go-top.show {
	right: 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}


.go-top i {
	font-size: 24px;
	color: var(--theme-primary-foreground-color);
	transition: all ease 0.3s;
}

.go-top:hover i {
	color: var(--theme-primary-foreground-color);
	animation: 1.5s tf-buzz-out alternate linear infinite;
}

@keyframes tf-buzz-out {
	10% {
		transform: translateY(3%) rotate(2deg);
	}
	20% {
		transform: translateY(-3%) rotate(-2deg);
	}
	30% {
		transform: translateY(3%) rotate(2deg);
	}
	40% {
		transform: translateY(-3%) rotate(-2deg);
	}
	50% {
		transform: translateY(2%) rotate(1deg);
	}
	60% {
		transform: translateY(-2%) rotate(-1deg);
	}
	70% {
		transform: translateY(2%) rotate(1deg);
	}
	80% {
		transform: translateY(-2%) rotate(-1deg);
	}
	90% {
		transform: translateY(1%) rotate(0);
	}
	to {
		transform: translateY(-1%) rotate(0);
	}
}
