.tf-banner-wrapper {
	.banner-label {
		position: absolute;
		left: -18px;
		top: -18px;
		width: 48px;
		height: 48px;
		@include d-inline-flex();
		@include align-items-center();
		@include justify-content-center();
		color: #fff;
		background: red;
		border-radius: 50%;
		line-height: 48px;
		font-size: 14px;
		z-index: 100;
	}
}

.tf-banner {
	overflow: hidden;
	position: relative;
	border-radius: inherit;

	&:hover .tf-banner-image:before,
	&:hover .tf-banner-image:after {
		opacity: 1;
	}


}

.tf-banner-image {
	.tf-banner-bg {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		opacity: 0;
		z-index: 2;
	}
}

.tf-banner-content {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3;
	padding: 3rem;
	color: #fff;
}

.tf-banner-title {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 2.2rem;
	display: block;
	color: inherit;

	a, a:hover {
		color: inherit;
	}
}

.tf-banner-description {
	font-size: 1rem;

	p {
		color: inherit;
		margin-bottom: 0;
	}

	+ .tf-banner-btn {
		margin-top: 1.5rem;
	}
}

.tf-banner-btn-fixed {
	.tf-banner-content {
		height: 100%;
		@include d-flex();
	}

	.tf-banner-top-box {
		position: absolute;
	}

	.tf-banner-btn {
		margin-top: auto !important;
	}
}

.elementor-align-center .tf-banner-btn-fixed .tf-banner-content {
	@include justify-content-center();

	.tf-banner-top-box {
		padding-left: inherit;
		padding-right: inherit;
	}
}

.elementor-align-right .tf-banner-btn-fixed .tf-banner-content {
	@include justify-content-end();

	.tf-banner-top-box {
		padding-left: inherit;
	}
}

.elementor-align-left .tf-banner-btn-fixed .tf-banner-content {
	@include justify-content-start();

	.tf-banner-top-box {
		padding-right: inherit;
	}
}

@media (max-width: 1024px) {
	.elementor-tablet-align-center .tf-banner-btn-fixed .tf-banner-content {
		@include justify-content-center();

		.tf-banner-top-box {
			padding-left: inherit;
			padding-right: inherit;
		}
	}
	.elementor-tablet-align-right .tf-banner-btn-fixed .tf-banner-content {
		@include justify-content-end();

		.tf-banner-top-box {
			padding-left: inherit;
			padding-right: 0;
		}
	}
	.elementor-tablet-align-left .tf-banner-btn-fixed .tf-banner-content {
		@include justify-content-start();

		.tf-banner-top-box {
			padding-right: inherit;
			padding-left: 0;
		}
	}
}

@media (max-width: 767px) {
	.elementor-mobile-align-center .tf-banner-btn-fixed .tf-banner-content {
		@include justify-content-center();

		.tf-banner-top-box {
			padding-left: inherit;
			padding-right: inherit;
		}
	}
	.elementor-mobile-align-right .tf-banner-btn-fixed .tf-banner-content {
		@include justify-content-end();

		.tf-banner-top-box {
			padding-left: inherit;
			padding-right: 0;
		}
	}
	.elementor-mobile-align-left .tf-banner-btn-fixed .tf-banner-content {
		@include justify-content-start();

		.tf-banner-top-box {
			padding-right: inherit;
			padding-left: 0;
		}
	}
}


.tf-banner-layout-01 .tf-banner-content,
.tf-banner-layout-04:hover .tf-banner-content,
.tf-banner-layout-04.tf-banner-show-all .tf-banner-content {
	top: 50% !important;
	@include transition(all .5s);
	@include transform(translateY(-50%));
}


.tf-banner-layout-02 .tf-banner-content {
	top: 0;
}

.tf-banner-layout-03 .tf-banner-content {
	bottom: 0;
}

.tf-banner-layout-04 {
	.tf-banner-content {
		top: calc(100% - 120px);
		@include transition(all .5s);
	}

	.tf-banner-bottom-box {
		opacity: 0;
		@include transition(opacity .3s);
	}

	&.tf-banner-show-all, &:hover {
		.tf-banner-bottom-box {
			opacity: 1;
		}
	}
}

.tf-banner-layout-05 {
	.tf-banner-content {
		top: 0;
		height: 100%;
	}

	.tf-banner-title {
		text-align: left;
	}

	.tf-banner-description {
		opacity: 0;
		position: absolute;
		right: 3rem;
		bottom: 3rem;
		text-align: right;
		font-size: 0.85rem;
		max-width: 150px;
		border-right: 4px solid currentColor;
		padding: 0 1rem;
	}

	&:hover, &.tf-banner-show-all {
		.tf-banner-description {
			opacity: 1;
			@include transition(opacity .5s);
		}
	}
}

.tf-banner-layout-06 {
	.tf-banner-content {
		top: 0;
		height: 100%;
	}

	.tf-banner-title {
		width: 100%;
		position: relative;

		&:after {
			opacity: 0;
			position: absolute;
			top: 100%;
			margin-top: 10px;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: currentColor;
			content: "";
			@include transform(translate3d(0, 40px, 0));
			@include transition(opacity 0.35s, transform 0.35s);

		}
	}

	.tf-banner-bottom-box {
		bottom: 3em;
		position: absolute;
		@include transform(translate3d(0, 100%, 0));
		@include transition(opacity 0.35s, transform 0.35s);
		opacity: 0;
		width: 100%;
		left: 0;
		padding: 0 3em;
	}

	&.tf-banner-show-all, &:hover {
		.tf-banner-title:after, .tf-banner-bottom-box {
			@include transform(translate3d(0, 0, 0));
			opacity: 1;
		}
	}
}

.tf-banner-layout-07 {
	.tf-banner-content {
		top: 0;
		height: 100%;
	}

	.tf-banner-title {
		position: absolute;
		bottom: 3rem;
		right: 3rem;
		margin-bottom: 0;
		text-align: right;
	}

	.tf-banner-bottom-box {
		max-width: 50%;
		padding-right: 10px;
		text-align: right;
		border-right: 2px solid currentColor;
		opacity: 0;
		@include transition(opacity .35s, transform .35s);
		@include transform(translate3d(-40px, 0, 0));
	}

	&.tf-banner-show-all, &:hover {
		.tf-banner-bottom-box {
			opacity: 1;
			@include transform(translate3d(0, 0, 0));
		}
	}
}

.tf-banner-image a {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
}

.tf-banner-has-effect:hover:after {
	background-color: rgb(48, 133, 163, 0.5);
}

//jazz
.tf-banner-effect-jazz {
	.tf-banner-image:before {
		background-color: transparent;
		width: 100%;
		height: 100%;
		top: 0;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #fff;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #fff;
		@include transition(all .5s);
		@include transform(rotate(45deg) scale(.5));
	}

	&:hover .tf-banner-image:before {
		@include transform(rotate(45deg) scale(1));
	}
}

//symmetry
.tf-banner-effect-symmetry {
	.tf-banner-image:before,
	.tf-banner-image:after {
		width: 0;
		height: 0;
		background: #ffffff none repeat scroll 0 0;
		@include transition(all 0.5s ease 0s);
	}

	.tf-banner-image:before {
		left: 0;
		top: 0;
	}

	.tf-banner-image:after {
		bottom: 0;
		right: 0;
	}

	&:hover .tf-banner-image:after,
	&:hover .tf-banner-image:before {
		height: 100%;
		opacity: 0.3;
		width: 100%;
	}
}

//suprema
.tf-banner-effect-suprema {
	.tf-banner-image {
		&:before, &:after {
			width: 45%;
			height: 2px;
			top: 50%;
			background: #fff;
			@include transform(rotate(-45deg));
			@include transition(opacity .2s ease, transform 0s .2s);
		}

		&:before {
			left: 50%;
			@include transform-origin(0, 50%);
		}

		&:after {
			right: 50%;
			@include transform-origin(100%, 50%);
		}
	}

	&:hover .tf-banner-image {
		&:before, &:after {
			@include transition(opacity .3s ease 50ms, transform 2s cubic-bezier(.26, .63, 0, .96));
		}

		&:before {
			@include transform(rotate(-45deg) translateX(-1000px));
		}

		&:after {
			@include transform(rotate(-45deg) translateX(1000px));
		}
	}
}

//layla & bubba
.tf-banner-effect-layla .tf-banner-image,
.tf-banner-effect-bubba .tf-banner-image {
	&:before, &:after {
		background-color: transparent;
		@include transition(all .5s);
	}

	&:before {
		top: 50%;
		bottom: 50%;
		left: 25px;
		right: 25px;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: #fff;
		border-right-width: 1px;
		border-right-style: solid;
		border-right-color: #fff;
	}

	&:after {
		top: 25px;
		bottom: 25px;
		left: 50%;
		right: 50%;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #fff;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #fff;
	}
}

//layla
.tf-banner-effect-layla:hover .tf-banner-image {
	&:before {
		top: 10px;
		bottom: 10px;
	}

	&:after {
		left: 10px;
		right: 10px;
	}
}

//bubba
.tf-banner-effect-bubba:hover .tf-banner-image {
	&:before {
		top: 25px;
		bottom: 25px;
	}

	&:after {
		left: 25px;
		right: 25px;
	}
}


//flash
.tf-banner-effect-flash {
	.tf-banner-image:before {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, .5);
		@include transition(all .6s);
		@include transform(scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, -150%, 0));
	}

	&:hover .tf-banner-image:before {
		@include transform(scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, 150%, 0));
	}
}

//ming
.tf-banner-effect-ming {
	&:after {
		background-color: rgb(3, 12, 23, 0.3);
	}

	.tf-banner-image {
		position: relative;

		&:before {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			border: 2px solid #fff;
			@include box-shadow(0 0 0 30px rgb(255 255 255 / 20%));
			content: "";
			opacity: 0;
			@include transition(opacity .35s, transform .35s);
			@include transform(scale3d(1.4, 1.4, 1));
		}
	}

	&:hover .tf-banner-image:before {
		opacity: 1;
		@include transform(scale3d(1, 1, 1));
	}

}

//zoom in
.tf-banner-effect-img-zoom-in {
	.tf-banner-bg {
		@include transition(opacity .35s, transform .35s);
	}

	&:hover .tf-banner-image .tf-banner-bg {
		@include transform(scale3d(1.2, 1.2, 1));
	}
}

//zoom out
.tf-banner-effect-img-zoom-out {
	.tf-banner-bg {
		@include transition(opacity .35s, transform .35s);
		@include transform(scale3d(1.2, 1.2, 1));
	}

	&:hover .tf-banner-image .tf-banner-bg {
		@include transform(scale3d(1, 1, 1));
	}
}


//slide right
.tf-banner-effect-img-slide-right {
	.tf-banner-bg {
		@include transition(opacity .35s, transform .35s);
		@include transform(translate3d(-30px, 0, 0) scale(1.2));
		@include backface-visibility(hidden);
	}

	&:hover .tf-banner-image .tf-banner-bg {
		@include transform(translate3d(0, 0, 0) scale(1.2));
	}
}

//slide left
.tf-banner-effect-img-slide-left {
	.tf-banner-bg {
		@include transition(opacity .35s, transform .35s);
		@include transform(translate3d(0, 0, 0) scale(1.2));
		@include backface-visibility(hidden);
	}

	&:hover .tf-banner-image .tf-banner-bg {
		@include transform(translate3d(-30px, 0, 0) scale(1.2));
	}
}

//slide top
.tf-banner-effect-img-slide-top {
	.tf-banner-bg {
		@include transition(opacity .35s, transform .35s);
		@include transform(translate3d(0, 0, 0) scale(1.2));
		@include backface-visibility(hidden);
	}

	&:hover .tf-banner-image .tf-banner-bg {
		@include transform(translate3d(0, -30px, 0) scale(1.25));
	}
}

//slide bottom
.tf-banner-effect-img-slide-bottom {
	.tf-banner-bg {
		@include transition(opacity .35s, transform .35s);
		@include transform(translate3d(0, -30px, 0) scale(1.2));
		@include backface-visibility(hidden);
	}

	&:hover .tf-banner-image .tf-banner-bg {
		@include transform(translate3d(0, 0, 0) scale(1.25));
	}
}

//rotate
.tf-banner-effect-img-rotate {
	.tf-banner-bg {
		@include transition(opacity .35s, transform .35s);
	}

	&:hover .tf-banner-image .tf-banner-bg {
		@include transform(scale(1.4) rotate(10deg));
	}
}

@media screen and (max-width: 768px) {
	.tf-banner .tf-banner-content {
		padding: 1rem;
	}
	.tf-banner-layout-06 .tf-banner-bottom-box {
		padding: 0 1rem;
		bottom: 1rem
	}

	.tf-banner-layout-05 .tf-banner-description,
	.tf-banner-layout-07 .tf-banner-title {
		right: 1rem;
		bottom: 1rem;
	}
}