.tf-contact-form {
	p {
		margin-bottom: 0;
	}

	span.wpcf7-form-control-wrap {
		width: 100%;
		display: block;
	}

	input[type=text], input[type=email], input[type=number],
	input[type=tel], input[type=week], select {
		width: 100%;
	}

	.wpcf7-not-valid-tip {
		display: none;
	}

	.wpcf7-not-valid {
		border-color: #dc3545 !important;
	}

	& ~ div.wpcf7-response-output {
		text-align: center;
		color: #fff;
		background: #dc3545;
		border: none;
		@include border-radius(4px);
		padding: 10px;
		margin-left: 0;
		margin-right: 0;
	}

	.ajax-loader, .wpcf7-spinner {
		position: absolute;
	}

	.tf-contact-form-item:not(:last-child) {
		margin-bottom: 15px;
	}

	.btn.btn-primary {
		font-size: 16px;
		margin-top: -8px;
	}
	.submit {
		.wpcf7-submit {
			&:hover {
				background-color: $color_primary_brightness !important;
				border-color: $color_primary_brightness !important;
			}
		}
	}
}

.tf-contact-form .submit .wpcf7-submit:hover,
.form-classic .tf-contact-form .submit .wpcf7-submit:hover {
    background-color: #bf2902 !important;
    border-color: #bf2902 !important;
}

.form-freelancer .tf-contact-form .submit .wpcf7-submit:hover {
    background-color: #130ff5 !important;
    border-color: #130ff5 !important;
}

.form-consultant .tf-contact-form .submit .wpcf7-submit:hover {
    background-color: #063ae9 !important;
    border-color: #063ae9 !important;
}

.form-designer .tf-contact-form .submit .wpcf7-submit:hover {
    background-color: #a82401 !important;
    border-color: #a82401 !important;
}

.form-developer .tf-contact-form .submit .wpcf7-submit:hover {
    background-color: #0967a1 !important;
    border-color: #0967a1 !important;
}

.form-ethical .tf-contact-form .submit .wpcf7-submit:hover {
    background-color:#226741 !important;
    border-color:#226741 !important;
}

.form-programmer .tf-contact-form .submit .wpcf7-submit:hover {
    background-color:#1a91a5 !important;
    border-color:#1a91a5 !important;
}


.form-dark {
	.tf-contact-form {
		
		textarea,
		input[type=text], input[type=email], input[type=number],
		input[type=tel], input[type=week], select {
			border-color: #606060;
			background: #2a2a2a;
			color: #b0aac0;
		}
	
		
	}
}