@media only screen and (max-width: 1367px) and (min-width: 1024px) {
    .hero-main-01 .layer-shape-inner {
        width: 562px !important;
        height: 278px !important;
    }

    .hero-main-01 .layer-type-info-02 {
        left: 0 !important;
    }

    .hero-developer .layer-type-icon-01{
        left: 10px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .hero-main-01 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .hero-main-01 .layer-type-info-01 {
        right: 15px !important;
    }

    .hero-main-01 .layer-type-info-02 {
        left: -30px !important;
    }

    .hero-main-01 .layer-type-image {
        max-width: 450px;
    }

    .hero-main-01 .layer-shape-inner {
        width: 532px !important;
        height: 238px !important;
    }

    .hero-main-01 .layer-type-shape {
        right: 10px;
    }

    .custom-el-col-50.elementor-column {
        width: 50% !important;
    }

    .hero-developer .layer-type-icon-01{
        left: -50px !important;
    }
}

.hero-has-bg-animation-layer > .elementor-container,
.hero-has-bg-animation-layer > .elementor-container > .elementor-column,
.hero-has-bg-animation-layer > .elementor-container > .elementor-column > .elementor-widget-wrap {
    position: static !important;
}

.hero-has-bg-animation-layer .elementor-widget-tf-animation-layer,
.hero-has-bg-animation-layer .elementor-widget-tf-animation-layer > .elementor-widget-container,
.hero-has-bg-animation-layer .elementor-widget-tf-animation-layer > .elementor-widget-container > .tf-animation-layer,
.hero-has-bg-animation-layer .elementor-widget-tf-animation-layer > .elementor-widget-container > .tf-animation-layer > .tf-animation-layer-inner,
{
    height: 100%;
}