.tf-list-icon {
	padding-left: 0 !important;

	.list-icon-item {
		line-height: 1.5;
		font-weight: 700;
		font-size: 24px;
		font-family: var(--theme-font-primary);
		color: var(--theme-accent-color);
	}

	.list-icon-item:hover {
		color: var(--theme-primary-color);
	}
}
.tf-list-icon-custom{
	.list-icon-item{
		&::before{
			background-color: var(--theme-primary-color);
		}

	}

}