.ft-mailchimp {
	@include d-flex();
	position: relative;

	input[type="email"] {
		border-color: rgba(255, 255, 255, 0.1);
		width: calc(100% - 70px);
		padding: 0;
		color: #fff;
	}

	button[type="submit"] {
		height: 40px;
		font-size: 22px;
		max-width: 70px;
		line-height: 39px;
		padding: 0;
		width: 70px;

		i {
			margin-left: 0;
		}
	}
}

@media (max-width: 525px) {
	.ft-mailchimp {
		button[type="submit"] {
			max-width: 70px;
		}
	}
}