.comments-area {
	--color-rating: #f6b500;
	--color-rating-empty: #ededed;
	margin-top: 50px;
}

.comment-respond {
	font-size: 14px;

	&:not(:first-child) {
		margin-top: 51px;
	}

	input[type="text"], textarea {
		background-color: transparent;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		-webkit-box-shadow: 0 0 0px 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0s;
	}

	form {
		@include d-flex();
		@include flex-flow-column();
		margin-bottom: 0;
	}

	.comment-form-cookies-consent {
		order: 4;
		margin-bottom: 10px;
	}

	.tf-comment-note-after {
		margin-bottom: 0;
		order: 5;

		span {
			color: var(--theme-primary-color);
		}
	}

	.comment-right {
		order: 3;
	}

	.tf-comment-note-before {
		margin-bottom: 41px;
	}

}

.comment-left {
	@include d-flex();
	@include flex-wrap();
	margin: 0 -15px;

	fieldset {
		@include flex(0 0 50%);
		max-width: 50%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.email-container {
		@include flex(1 1 100%);
		max-width: 100%;
	}

	@media only screen and (max-width: 576px) {
		fieldset {
			@include flex(1 1 100%);
			max-width: 100%;
		}
	}
}

.comment_wrap_input {
	order: 2;
}

.comment-reply-title {
	margin-bottom: 0;
	font-size: 30px;
	line-height: 48px;
	text-transform: capitalize;

	#cancel-comment-reply-link {
		font-size: 14px;
	}
}

.themesflat-rating-container {
	margin-top: 5px;
	margin-bottom: 41px;
	order: 1;

	.themesflat-rating-label {
		margin-right: 10px;
	}
}

.themesflat-button-submit {
	order: 6;
	margin-top: 20px;

	.wrap-input-submit {
		display: inline-block;
		width: auto;
		background-color: var(--theme-primary-color);
		@include align-items-center();
		cursor: pointer;
		transition: all 0.5s;
		color: #fff;
		padding: 16px 42px;
		border-radius: 5px;
		font-size: 1rem;

		i {
			font-size: 16px;
			@include transform(translateX(0));
			transition: all 0.5s;
		}

		.submit {
			padding: 0;
			width: auto;
			line-height: 1;
			margin-right: 10px;
			background-color: transparent !important;
			font-weight: 700;
			border: none;
		}

		&:hover {
			background: var(--theme-accent-color) !important;

			i {
				@include transform(translateX(10px));
			}
		}
	}
}

.comment-list .comment:not(:first-child), .comment-list .children .comment {
	border-top: 1px solid var(--theme-color-border);
	padding-top: 25px;
	margin-top: 22px;
}

.comment-list .comment_wrap {
	position: relative;
	display: block;

	.gravatar {
		position: absolute;
		left: 0;
		top: 0;
		padding-top: 5px;
		border-radius: 0;
		width: 100px;
	}

	.comment_meta {
		@include d-flex();
		@include flex-wrap();
	}

	.comment_content {
		padding-left: 128px;
		min-height: 110px;

		.comment_text li {
			margin-top: 0 !important;
		}
	}

	.comment-author-wrap {
		margin-right: auto;
		padding-right: 20px;
	}

	.comment_author {
		font-size: 24px;
		line-height: 30px;
		display: inline-block;
		color: var(--theme-accent-color);;
		font-weight: 700;
		margin-bottom: 0;
		text-transform: capitalize;
		font-family: var(--theme-font-primary);
	}

	.comment_date {
		font-size: 14px;
		line-height: 24px;
		color: rgba(102, 102, 102, 1);

		i {
			color: var(--theme-primary-color);
			margin-right: 5px;
		}


	}

	.comment-edit-link {
		font-size: 16px;
		color: var(--theme-color-text-main) !important;

		&::after {
			content: "\f304";
			font-family: "Font Awesome 5 Pro";
			font-size: 14px;
			margin-left: 5px;
			color: var(--theme-color-text-main);
		}
	}

	.themesflat-comment-rating {
		@include d-flex();
	}

	.themesflat-comment-rating .themesflat-star {
		font-size: 14px;

		&.active {
			color: #ffa800;

		}
	}

	.comment_text {
		margin-top: 11px;
		margin-bottom: 20px;
	}

	.comment_reply {
		margin-top: 0;
		color: var(--theme-color-text-main);
		font-size: 16px;
		line-height: 30px;
		@include transition(all 0.2s);

		a {
			color: inherit;
			@include transition(all 0.2s);

			&:hover {
				color: var(--theme-primary-color) !important;
			}
		}

		i {
			margin-left: 8px;
		}

		&:hover {
			color: var(--theme-primary-color);
		}
	}
}

.comment-list-wrap {
	.comment-title {
		margin-bottom: 41px;
		font-size: 30px;
		line-height: 58px;
		color: var(--theme-accent-color);
		text-transform: capitalize;

		.comment-number {
			color: rgba(24, 24, 24, 0.3);
		}
	}

	.children {
		margin-left: 0;
		list-style: none;

	}

	li {
		.comment-respond {
			margin-bottom: 37px;
			margin-top: 43px;
		}
	}

	.children .comment {
		margin: 22px 0 0 50px;

		.comment_wrap {
			padding: 0;
		}

		.themesflat-comment-rating {
			display: none;
		}
	}

	.themesflat-rating-container {
		display: none;
	}

	@media only screen and (max-width: 1199px) {
		.children .comment {
			margin-left: 30px;
		}
	}
	@media only screen and (max-width: 991px) {
		.children {
			padding-left: 0;
		}
		.children .comment {
			margin: 0;
		}
	}

}

.comment-list .children {
	margin-top: 0;

	.comment-respond {
		margin-top: 32px;
	}

	.logged-in-as, .tf-comment-note-before {
		margin-bottom: 30px !important;
	}

	.comment-form-cookies-consent {
		margin-bottom: 20px;
	}

	.themesflat-button-submit {
		margin-top: 30px;
	}
}

.comment-list {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		margin-bottom: 10px;
	}

	li > ul, li > ol {
		margin-bottom: 0;
		margin-top: 0;
	}

	ul, ol {
		padding-left: 15px;
	}
}